        <html>
                <section>
        <h2 style=" position: absolute;top: 8px;right: 16px; ">{{currentVal}}</h2>
        <h2  style="position: absolute;top: 8px;left: 16px; ">{{currentVal}}</h2>
        <h2  style="position: absolute;bottom: 8px;right: 16px;">{{currentVal}}</h2>
        <h2  style="position: absolute;bottom: 8px;left: 16px; ">{{currentVal}}</h2>
        <input type = "text" style="position: absolute;top: 250px;right: 650px;align-content: center;height: 100px;" placeholder="enter text" #get>
        <button (click)='func(get.value)' style="position:absolute;top: 280px;right: 550px;height:50px">Submit</button>

</section>
<section>
        <!-- <button (click) = "ques1()">Ques1</button>
        <button (click) = "ques2()">Ques2</button>
        <button (click) = "ques3()">Ques3</button>
        <button (click) = "ques4()">Ques4</button> -->
        </section>
        </html>